.App {
  text-align: center;
}

.header {
  width: 100vw;
  height: 50px;
  background-color: rgb(114, 114, 180);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-size: 22px;
}

.unassignedJobs {
  width: 100%;
  /* height: calc(100vh - 50px); */
  background-color: #7777;
  
}

a {
  color: black;
}

.jobsWrapper {
  /* background-color: brown; */
  background-image: url("aurora_northern_lights_4k.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: calc(100vh - 50px);
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: auto;
  
}

.jobsWrapper h1 {
  font-size: 25px;
  color: white;
  padding: 15px;
  text-decoration: underline gray;
}

.jobsWrapper h2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* overflow: scroll;
  overflow: hidden; */
}

.displayedJobs {
  height: 50px;
  width: 75vw;
  /* border: 1px solid black; */
  padding-top: 5px;
  margin-top: 17px;
  background-color: lightblue;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 20px;
  box-shadow: 5px 5px 15px black;
  cursor: pointer;

}

.displayedJobs button {
  right: 20px;
}

.MyJobsPage {
  /* background: blue; */
  height: 100vh;
  background-image: url("aurora_northern_lights_4k.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.displayedAssignedJobs {
  height: 50px;
  width: 75vw;
  border: 1px solid black;
  padding-top: 5px;
  margin-top: 17px;
  background-color: lightblue;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 20px;
  box-shadow: 5px 5px 15px black;
  cursor: pointer;
}

.assignedJobsWrapper {
  background-image: url("aurora_northern_lights_4k.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: calc(100vh - 50px);
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* overflow: scroll; */
  /* overflow: hidden; */
}

.assignedJobsWrapper h1 {
  font-size: 25px;
  color: white;
  padding: 15px;
  text-decoration: underline gray;
}



@media only screen and (max-width: 425px) {
   .header {
     background-color: aqua;
     height: 80px;
     display: flex;
     flex-wrap: wrap;
     flex-direction: row;
   } 
}

/* .header {
  width: 100vw;
  height: 50px;
  background-color: rgb(114, 114, 180);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-size: 22px;
} */

/* copied loading icon: credit goes to @tobiasahlin on twiter */
/* https://tobiasahlin.com/spinkit/ */
.sk-cube-grid {
  width: 40px;
  height: 40px;
  margin: 100px auto;
}

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: #333;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
          animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; 
}
.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s; }
.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s; }
.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1); 
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  } 
}