.Login {
    height: 100vh;
    background-image: url("aurora_northern_lights_4k.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center; 
    align-items: center;
    text-align: center;
  }



.LoginBox {
    font-family: Arial, Helvetica, sans-serif;
    height: 400px;
    width: 350px;
    box-shadow: 5px 5px 15px black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;

}

.username input {
    font-size: 20px;
    background: rgba(0, 0, 0, .7);
    color: #fff;
    border:none;
    box-shadow: 5px 5px 15px black;
    width: 300px;
    height: 40px;
    margin: 15px 0px;
    padding-left: 5px;
  }
  .username input::placeholder {
    color: rgba(228, 228, 228, 0.6)
  }

.loginButton {
  cursor: pointer;
  height: 40px;
  width: 150px;
  color: #fff;
  border: 1px solid #fff;
  box-shadow: 5px 5px 15px black;
  margin: 15px 0px;
  display: flex;
  justify-content: center;
  align-items: center;

}
    

.passwordInput input {
    font-size: 20px;
    background: rgba(0, 0, 0, .7);
    color: #fff;
    border:none;
    box-shadow: 5px 5px 15px black;
    width: 300px;
    height: 40px;
    margin: 15px 0px;
    padding-left: 5px;
}

.passwordInput input::placeholder {
  color: rgba(228, 228, 228, 0.6)
}

.signUpInput {
  cursor: pointer;
  height: 40px;
  width: 150px;
  color: #fff;
  border: 1px solid #fff;
  box-shadow: 5px 5px 15px black;
  margin: 15px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 425px) {
  .LoginBox {
    width: 85%;
  }
  .username input {
    width: 85%;
  }
  .passwordInput input{
    width: 85%;
  }
}