.AdminToolWrapper {
    height: 250px;
    width: 400px;
    border: 2px solid black;
    background-color: brown;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.AdminToolWrapper h1 {
    /* this works for the header */
}

.AdminAddJob {
    border: 2px solid black;
    display: flex;
    flex-direction: column;
}

.AdminAssignJob {
    border: 2px solid black;
}