.myJobsMenu {
    /* border: 2px solid black; */
    height: 50px;
    width: 175px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logOutMenu {
    /* border: 2px solid black; */
    height: 50px;
    width: 175px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: underline;
    cursor: pointer;
}

.Admin{
    /* border: 2px solid black; */
    height: 50px;
    width: 175px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 425px) {
    .welcomeUser {
        width: 100vw;
        margin-top: 10px;
     }
     .Admin{
       width: 25%;
     }
     .myJobsMenu{
      width: 25%;
     }
     .unassignedJobsMenu {
      width: 25%;
     }
     .logOutMenu {
      width: 25%;
     }
}