.myJobsMenu {
    border: 2px solid black;
    height: 50px;
    width: 175px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logOutMenu {
    border: 2px solid black;
    height: 50px;
    width: 175px;
    display: flex;
    align-items: center;
    justify-content: center;
}